.app-btn {
    background: $palleteMain;
    display: inline-block;
    color: $palleteAccent;
    padding: 10px 40px;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
    transition: all .1s;
    &:hover {
        background: $palleteMainShade;
    }
}